
  
  div.customHandle {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.258);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 100;
  }
  
  div.customHandle2 {
    width: 2rem;
    height: 2rem;
    background: red;
    opacity: 100;
  }
  